@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* global styling */

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #222;
}

/* navbar */

.navbar {
    padding: .7rem;
}

.navbar-nav li {
    padding-right: 50px;
    padding-left: 50px;
}

.navlink {
    font-size: 1.3em !important;
}

/* custom padding */

.padding {
    padding-bottom: 2rem;
}

.greet {
    padding-top: 1.5rem;
}


/* Styling for Pace.js */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace.pace-inactive .pace-progress {
    display: none;
  }
  
  .pace .pace-progress {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    height: 5rem;
    width: 5rem;
  
    -webkit-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
  
  .pace .pace-progress:after {
    display: block;
    position: absolute;
    top: 0;
    right: .5rem;
    content: attr(data-progress-text);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: 5rem;
    line-height: 1;
    text-align: right;
    color: rgba(0, 0, 0, 0.19999999999999996);
  }

  /* Pace.js settings */

  body > :not(.pace),body:before,body:after {
    -webkit-transition:opacity .4s ease-in-out;
    -moz-transition:opacity .4s ease-in-out;
    -o-transition:opacity .4s ease-in-out;
    -ms-transition:opacity .4s ease-in-out;
    transition:opacity .4s ease-in-out
  }
  
  body:not(.pace-done) > :not(.pace),body:not(.pace-done):before,body:not(.pace-done):after {
    opacity:0
  }
  
  .pace-running > :not(.pace) {
    opacity: 0;
  }
  
  .pace-done > :not(.pace) {
    opacity: 1;
    transition: opacity .5s ease;
  }